# Some sensible files to ignore

# Python cache
*.pyc

# Vim swp files
*.swp

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Rubymine
.idea
